<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

    <h3>Update Your Profile Information</h3>


<div>
    <form class="" method="post" action="/profile/<%= @user.id %>">
        <input type="hidden" name="_method" value="put">
        <input type="text" name="[post]fname" value="<%= @user.fname %>">
        <input type="text" name="[post]lname" value="<%= @user.lname %>">
        <input type="text" name="[post]email" value="<%= @user.email %>">
        <input type="text" name="[post]password" value="<%= @user.password %>">
        <input type="submit" name="" value="Submit Changes">
    </form>
</div>


<body>