<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>


    <h2>Welcome to your profile <%=current_user.fname%></h2>

    <h3>Create A Post</h3>

<div>
    <form  class="" method="post" action="/newpost">
        <input type="text" name="[post]title" placeholder="Title">
        <input type="text" name="[post]content" placeholder="Content">
        <input type="text" name="[post]user_id" value="<%= current_user.id %>" style="display:none">
        <input type="submit" name="" value="Submit">
    </form>
</div>

<div>
    <% @posts.reverse.each do |post| %>
        <div>

            <h3><%= post.id %>. <%= post.title %></h3>
            <a href="/posts/<%= post.id %>/edit">Edit</a>
            <form action="/posts/<%= post.id %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete This Post">
            </form>
            <p> <%= post.content %> </p>

        </div>
    <%end %>
    <form action="/profile/<%= current_user.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Your Account">
    </form>
</div>

</body>
</html>